body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: whitesmoke;
    text-align: center;
    width: 100%;
    display: block;
}

h1:hover{
    color:maroon;
    text-align: center;
    width: 100%;
    display: block;

}

a{
    text-decoration: none; /*remove unerlining on anchor tags*/
    color:lightsteelblue; /*pick the color you want*/
}

.assign {
    background-color: grey;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 8px 8px brown; 
    display: block; /* instead of flex */
    border-radius: 20px; /*curved corners*/
}

.assign img{
    width: 200px;
    margin: 10px;
    border: 2px solid midnightblue;
}

.assign img:hover {
    width: 200px;
    margin: 10px;
    border: 2px dotted yellow;
}
