body {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:magenta;
    text-align: center;

}

.assign {
    display:flex;
    padding: 10px;
    margin: 10px;
    background:brown;
}

.assign img{
    width:200px;
    padding:10px;
}
