body {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:magenta;
    text-align: center;

}

.assign {
    width: 20%;
box-shadow: 8px 8px [pick a color];
display: block; /* instead of flex */ 
border-radius: 20px; /* set last assignment */
    }

.assign img{
    width:200px;
    padding:10px;
}

a{
    text-decoration: none; /*remove unerlining on anchor tags*/
    color:deeppink; /*pick the color you want*/
}

.assign img{
    padding: 10px; /*change this from margin to padding*/
    border: 2px dashed plum; /*try dashed, dotted*/
}

.assign{
    border-radius: 20px; /*curved corners*/
}

a:hover{
    text-decoration: none;
    color: salmon;
}
